.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.divA{
    background-color: rgba(0,0,0,0.5);
    padding: 2rem 0.5rem 2rem 1rem;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgba(0,0,0,0);
    color: #fff;
    transition: all 1s;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 900px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}




/*
    TopNav
*/
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    font-weight: bolder;
  }
  
  .topnav .icon {
    display: none;
  }

  @media screen and (min-width: 900px){
    .div01{padding-top: 5rem;}
    .OptMenu { visibility: hidden;}
    #myTopnav {display: none;}
  }
  
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }




/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */

}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(0,0,0,0);
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;

}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;

}


/*
    CONTEÚDO ESPECÍFICO:
*/

