<div class="wrapper" style="">
    <!-- Sidebar -->
    <nav id="sidebar" style="padding: 1% 0.5% 1% 1%; position: static;" > <!--[ngStyle]= "{'margin-left': navbarMarginLeft}"-->
        <div class="divA" style="height: auto;">
            <div class="sidebar-header">
                <a href="/home/">
                    <h3 style="text-align: center; font-size: 50px; font-weight: 100; margin-bottom: 1rem; margin-top: 1rem;">LINC</h3>
                </a>
            </div>


            <ul class="list-unstyled components" style="margin-bottom: 4rem; margin-top: 1rem;">
                <li class="active">
                    <a href="#Cliente" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Cliente</a>
                    <ul class="collapse list-unstyled" id="Cliente">
                        <li>
                            <a href="/home/cadastro-cliente" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Cliente</a>
                        </li>
                        <li>
                            <a href="/home/lista-cliente" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Clientes</a>
                        </li>
                    </ul>
                    <a href="#Serviço" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Serviço</a>
                    <ul class="collapse list-unstyled" id="Serviço">
                        <li>
                            <a href="/home/cadastro-servico" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Serviço</a>
                        </li>
                        <li>
                            <a href="/home/lista-servico" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Serviços</a>
                        </li>
                    </ul>
                    <a href="#Produto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Produto</a>
                    <ul class="collapse list-unstyled" id="Produto">
                        <li>
                            <a href="/home/cadastro-produto" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Produto</a>
                        </li>
                        <li>
                            <a href="/home/lista-produto" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Produtos</a>
                        </li>
                    </ul>
                    <a href="#Venda" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Venda</a>
                    <ul class="collapse list-unstyled" id="Venda">
                        <li>
                            <a href="/home/cadastro-venda" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Venda</a>
                        </li>
                        <li>
                            <a href="/home/lista-venda" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Vendas</a>
                        </li>
                    </ul>
                    <a href="#Administrador" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Admin</a>
                    <ul class="collapse list-unstyled" id="Administrador">
                        <li>
                            <a href="/home/cadastro-administrador" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Administrador</a>
                        </li>
                        <li>
                            <a href="/home/lista-administrador" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Administradores</a>
                        </li>
                    </ul>
                    <a href="#Master" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Master</a>
                    <ul class="collapse list-unstyled" id="Master">
                        <li>
                            <a href="#" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Acesso Master</a>
                        </li>
                    </ul>
                    <div style="margin-top: 2rem;">
                        <a href="" style="padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Sair</a>
                    </div>
                </li>
            </ul>
            <div class="vertical-footer-copyright" style="color: #bfbfbf; text-align: center; font-size: 12px; font-weight: bolder; margin-bottom: 4rem;">
                API Website - linc 2022.
            </div>
        </div>
    </nav>

    <div class="div01" style="width: 100%; height: fit-content; margin: 1% 1% 1% 0.5%; background: rgba(0,0,0,0.5);">
        <div style="padding: 1rem 2rem 6rem 2rem">


   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: rgba(0,0,0,0) !important; padding: 0;">
            <button type="button" (click)="openNav()" id="sidebarCollapse" class="btn btn-info" >
                <i class="fas fa-align-left"></i>
            </button>
        </nav>
-->
        <div class="topnav" id="myTopnav" [ngClass]="classToDiv" style="margin: 1rem 0 1rem 0 ; background: rgba(0,0,0,0);">

            <a style="display: none;" href="">Home</a>
            
            <a href="#Cliente" data-toggle="collapse" aria-expanded="false" class="OptMenu dropdown-toggle" style="width: 95%; padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Cliente</a>
            <ul class="collapse list-unstyled" id="Cliente">
                <li>
                    <a href="/home/cadastro-cliente" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Cliente</a>
                </li>
                <li>
                    <a href="/home/lista-cliente" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Clientes</a>
                </li>
            </ul>
            <a href="#Serviço" data-toggle="collapse" aria-expanded="false" class="OptMenu dropdown-toggle" style="width: 95%;padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Serviço</a>
            <ul class="collapse list-unstyled" id="Serviço">
                <li>
                    <a href="/home/cadastro-servico" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Serviço</a>
                </li>
                <li>
                    <a href="/home/lista-servico" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Serviços</a>
                </li>
            </ul>
            <a href="#Produto" data-toggle="collapse" aria-expanded="false" class="OptMenu dropdown-toggle" style="width: 95%;padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Produto</a>
            <ul class="collapse list-unstyled" id="Produto">
                <li>
                    <a href="/home/cadastro-produto" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Produto</a>
                </li>
                <li>
                    <a href="/home/lista-produto" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Produtos</a>
                </li>
            </ul>
            <a href="#Venda" data-toggle="collapse" aria-expanded="false" class="OptMenu dropdown-toggle" style="width: 95%;padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Venda</a>
            <ul class="collapse list-unstyled" id="Venda">
                <li>
                    <a href="/home/cadastro-venda" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Venda</a>
                </li>
                <li>
                    <a href="/home/lista-venda" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Vendas</a>
                </li>
            </ul>
            <a href="#Administrador" data-toggle="collapse" aria-expanded="false" class="OptMenu dropdown-toggle" style="width: 95%;padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Admin</a>
            <ul class="collapse list-unstyled" id="Administrador">
                <li>
                    <a href="/home/cadastro-administrador" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Cadastrar Administrador</a>
                </li>
                <li>
                    <a href="/home/lista-administrador" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Lista de Administradores</a>
                </li>
            </ul>
            <a href="#Master" data-toggle="collapse" aria-expanded="false" class="OptMenu dropdown-toggle" style="width: 95%;padding: 10px 0 10px 10px; font-weight: bold; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,.03);">Master</a>
            <ul class="collapse list-unstyled" id="Master">
                <li>
                    <a href="#" style="padding: 10px 0 10px 20px !important; font-weight: bolder; color: #a9a9a9;">Acesso Master</a>
                </li>
            </ul>
        <!--    
            <a style="display: none;" href="">Home</a>
            <a class="OptMenu" href="#home">Home</a>
            <a class="OptMenu" href="#news">News</a>
            <a class="OptMenu" href="#contact">Contact</a>
            <a class="OptMenu" href="#about">About</a>
        --> 
            <a class="OptMenu" type="submit" class="icon" (click)="mudaClass()" style="padding: 2% 1% 2% 1%;">
                <i class="fa fa-bars" style="width: 1.5rem; height: 1.5rem; color: #bfbfbf;"></i>
            </a>    
        </div>

            <!--INICIO DE CONTEÚDO ESPECÍFICO-->


            <router-outlet></router-outlet>                


            <!--FIM DE CONTEÚDO ESPECÍFICO-->

        </div>
    </div>
</div>