<div class="div0">
    <div class="div1">    
        <div class="box">
            <h3>LINC</h3>
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                <div class="div3" >
                    <input id="nome" type="password" name="administrador.usernameAdministrador" [(ngModel)]="administrador.usernameAdministrador">
                    <input type="password" name="administrador.passwordAdministrador" [(ngModel)]="administrador.passwordAdministrador">
                </div>
                <button type="submit">ENTRAR</button>
            </form>
            <a href="/#"><p>cadastre-se</p></a>
        </div>
    </div>
    <div class="div2">
        <div class="div4">
            <small>{{ administrador.usernameAdministrador }}</small><br>
            <small class="small1">{{ administrador.passwordAdministrador }}</small>
            <h1>Administração</h1>
            <p>Esta sessão permite a navegação avançada do sistema. Por favor, insira os dados de autenticação.</p>
        </div>
    </div>
</div>