
<div id="responsivo" style="width: auto;">
	<h2 style="text-align: left; color: #fff; margin-bottom: 3rem; width: auto;">Administradores Cadastrados</h2>
    <table class=" table-action" style="font-family: arial; max-width: 100%; background-color: transparent; font-size: small; ">
        <thead>
            <tr>
                <th class="t-small" style="color: #fff; font-size: smaller; font-weight: bolder;">ID</th>
                <th class="t-small" style="color: #fff; font-size: smaller; font-weight: bolder;">Username</th>
                <th class="t-small" style="color: #fff; font-size: smaller; font-weight: bolder;">Password</th>
                <th class="t-small" style="color: #fff; font-size: smaller; font-weight: bolder;">Nome</th>
                <th class="t-small" style="color: #fff; font-size: smaller; font-weight: bolder;">Celular</th>
                <th class="t-small" style="color: #fff; font-size: smaller; font-weight: bolder;">Endereço</th>
                <th class="t-small" ></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let administrador of listaAdministrador" style="border-bottom: 1px solid rgba(255,255,255,.1);">
                <th scope="row" style="padding:1.5rem 1rem 0rem 0; font-size: smaller; color: #fff">{{administrador.idAdministrador}}</th>
                <td style="padding:1.5rem 1rem 0rem 0; font-size: smaller; color: #fff">{{administrador.usernameAdministrador}}</td>
                <td style="padding:1.5rem 1rem 0rem 0; font-size: smaller; color: #fff">{{administrador.passwordAdministrador}}</td>
                <td style="padding:1.5rem 1rem 0rem 0; font-size: smaller; color: #fff">{{administrador.nomeAdministrador}}</td>
                <td style="padding:1.5rem 1rem 0rem 0; font-size: smaller; color: #fff">{{administrador.celularAdministrador}}</td>
                <td style="padding:1.5rem 1rem 0rem 0; font-size: smaller; color: #fff">{{administrador.enderecoAdministrador}}</td>												
                <td class="col-1" style="text-align: right; padding:1.5rem 1rem 0rem 0.5rem;">
                    <a type="submit" (click)="servicosAdministrador(administrador.idAdministrador)" style="font-weight: bold; font-size: smaller; color: #a6aa3e;">serviços</a>  
                </td >
                <td class="col-1" style="text-align: right; padding:1.5rem 1rem 0rem 0.5rem;">
                    <a type="submit" (click)="gotoEditaAdministrador(administrador.idAdministrador)" style="font-weight: bold; font-size: smaller; color: #a6aa3e;">edit</a>  
                </td >
                <td class="col-1" style="text-align: right; padding:1.5rem 1rem 0rem 0.5rem;">
                    <a type="submit" (click)="deletaAdministrador(administrador.idAdministrador)" style="font-weight: bold; font-size: smaller; color: #a6aa3e;">del</a>  
                </td >
            </tr>
        </tbody>
    </table>
</div> 
