<div>
    <div style="margin-bottom: 3rem;">			
        <h1 style="text-align: center; color: #bfbfbf; padding: 0;">IMPORTANTE:</h1> 
    </div>	
    <div >
        <small style="color: #bfbfbf; font-size: small;">Nossa empresa é uma empresa VIRTUAL e está aberta na internet operando por meio do nosso web-site(nosso sistema).
        É por meio dele que nossos clientes farão contato conosco e nós com eles. O nosso BANCO DE DADOS é o coração do nosso sistema,
        a parte mais importante de uma empresa virtual. É por meio dele que vamos administrar todo o nosso trabalho e todos os 
        nossos recursos.</small>
        <small style="color: #bfbfbf;">Por isso é necessária extrema responsabilidade em qualquer que seja a operação realizada nele. E é de extrema
        importancia que sua senha de acesso seja mantida à sete chaves, guardada de abslutamente todos que não façam parte desta empresa.</small>
        <small style="color: #bfbfbf;">Nosso banco de dados possui autonomia suficiente para ser gerido sozinho, contudo sempre haverá algumas exceções que farão com que
        sejam necessárias algumas operações manuais dos administradores da empresa.</small>
        <small style="color: #bfbfbf;">Logo abaixo estão listadas as operações que nosso banco permite aos administradores. Elas  Variam entre: "Cadastrar", "Listar", e "Editar"
        os seus dados.</small>
    </div>
</div>

